<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= fruit.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    
    <h1>Edit <%= fruit.name %></h1>
    <form action="/fruits/<%= fruit._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= fruit.name %>">
        <div class="checkbox-div">
            <label for="ready-to-eat">Ready to Eat?</label>
            <input type="checkbox" name="isReadyToEat" id="ready-to-eat" <% if(fruit.isReadyToEat) {%> checked <% } %>>
        </div>
        <!-- <input type="checkbox" name="isReadyToEat" id="isReadyToEat" <%= fruit.isReadyToEat && 'checked' %>> different way to check if value is true -->
        <!-- <input type="checkbox" name="isReadyToEat" id="isReadyToEat" <%= fruit.isReadyToEat ? 'checked' : '' %>> different way to check if value is true -->

        <button type="submit">Update <%= fruit.name %></button>
    </form>
     <a class="fruits-index-link" href="/fruits/<%= fruit._id %>"><div class="index-link-text">Back to <%= fruit.name %></div></a>

</body>
</html>